.search-container {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.search-container_form {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.search-container_input{
    width: 80%;
}

@media screen and (max-width: 800px) {
    .search-container {
        width: 90%;
    }
}