.artist-card_wrapper {
    width: 100%;
    background-color: #211f27;
    background: rgba( 33, 31, 39, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    padding: 25px;
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 20px;
}

.artist-card_heading{
    color: #eaeaea;
}