.background {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-size: cover;
}

.result-page_container {
    width: 100%;
}

.result-page_heading {
    color: #d7d1cf;
    padding-top: 70px;
    padding-left: 15px;
}

.result-page_spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    width: 100%;
    margin: 0 !important;
}

.row > * {
    margin: 0 !important;
    overflow: hidden;
}

.padding {
    padding: 15px !important;
}